* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", "Raleway", "lacto";
}

body {
    min-height: 100vh;
    background:
        linear-gradient(rgba(10,15,31,0.88), rgba(10,15,31,0.88)),
        url("bg.png") no-repeat center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
body {
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
}


.login-container {
    width: 420px;
    padding: 40px;
    background: rgba(15, 20, 45, 0.75);
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 0 50px rgba(0,0,0,0.7);
}

/* Logo */
.logo img {
    width: 120px;
    margin-bottom: 10px;
}

.logo h1 {
    font-size: 36px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

/* Title */
h2 {
    font-size: 28px;
    color: #af098e;
    margin-bottom: 30px;
}

/* Form */
.login-form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.login-form label {
    font-size: 16px;
    margin-bottom: 6px;
    color: #cfd8ff;
}

.login-form input {
    padding: 14px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.2);
    background: rgba(0,0,0,0.3);
    color: white;
    font-size: 16px;
}

.login-form input::placeholder {
    color: #aaa;
}

.login-form input:focus {
    outline: none;
    border-color: #ee10ac;
}

/* Button */
.login-form button {
    margin-top: 10px;
    padding: 14px;
    font-size: 20px;
    background: linear-gradient(135deg, #eb79ca, #3f0130);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.login-form button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255,77,109,0.6);
}

/* Back */
.back {
    display: block;
    margin-top: 25px;
    text-decoration: none;
    color: #af098e;
    font-size: 16px;
}

.back:hover {
    text-decoration: underline;
}

/* Note */
.note {
    margin-top: 20px;
    font-size: 14px;
    color: #b0b8ff;
}
