* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", "lacto", "Raleway";
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: 
        linear-gradient(rgba(10,15,31,0.85), rgba(10,15,31,0.85)),
        url("bg.png") no-repeat center center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
body {
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
}



.container {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
}

.logo img {
    width: 200px;          /* 400px is VERY large */
    margin-bottom: 0;
}

h1 {
    font-size: 56px;
    letter-spacing: 2px;
    margin-top: 0;         /* IMPORTANT */
    margin-bottom: 5px;
}

h2 {
    font-size: 28px;
    color: #b3c7ff;
    margin-top: 5px;       /* IMPORTANT */
    margin-bottom: 20px;
}
h3{
    font-size: 26px;

}
.hero {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.logo img,
h1,
h2 {
    margin: 0;
}

.description {
    font-size: 18px;
    color: #d0d8ff;
    margin-bottom: 40px;
    line-height: 1.6;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 50px;
}

.btn {
    padding: 15px 55px;
    font-size: 25px;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}



.btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
.button-group {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.report { background: #04011f; }
.admin  { background: #04011f; }
.track  { background: #04011f; }


.features {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.feature img {
    width: 140px;
    margin-bottom: 20px;
}

.feature p {
    font-size: 20px;
    color: #f1f2f6;
}